.btn{
  cursor:pointer;
  &__primary{
    background-color: $second-color;
    color: #FFFFFF;
    padding: 21px 50px;
    border: solid 1px $second-color;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    &:hover{
      background-color: darken($second-color,10%);
      box-shadow: #fefefe 10px 10px 1px;
      transition: box-shadow .2s;
    }
  }
  &__open-menu{
    position: absolute;
    padding: 20px 55px;
    border: solid 1px #FFFFFF;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    left: 29px;
    top: 217px;
    transition: box-shadow .2s;
    &:hover{
      background-color: darken($second-color,10%);
      box-shadow: #fefefe 10px 10px 1px;
      transition: box-shadow .2s;
    }
  }
}