$color-accent: #b82121;
$color-text: #ffffff;
$color-bg: #000000;
$color-ink: #000000;
$color-surface: #ffffff;
$color-muted: #e0e0e0;
$color-divider: #393939;
$color-border: #c4c4c4;
$color-shine: #fefefe;
