.deliver{
  &__content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }
  &__item{
    display: flex;
    align-items: center;
    gap: 30px;
  }
  &__cards{
    &__item{
      display: flex;
      align-items: center;
      margin-bottom: 50px;
      @media screen and (max-width: 768px) {
        flex-direction: column;
      }
    }
    &__text{
      max-width:400px ;
      font-weight: 700;
      font-size: 18px;
      @media screen and (max-width: 768px) {
        padding-top: 20px;
        text-align: center;
      }
    }
  }
  &__main-img{
    width: 605px;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
  &__img{
    width: 120px;
    height: 120px;
    scale: 102%;
    &__wrapper{
      width: 120px;
      height: 120px;
      border-radius: 100%;
      overflow: hidden;
      margin-right: 30px;
    }
  }
  &__tomato{
    position: absolute;
    bottom: 32px;
    left: -69px;
  }
  &__basil-left{
    position: absolute;
    top: -49px;
    left: -245px;
    scale: 71%;
  }
  &__basil-right{
    position: absolute;
    right: -380px;
    bottom: -224px;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  &__container{
    position: relative;
    padding-top: 160px;
  }
}