.deliver{
  &__content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__item{
    display: flex;
    align-items: center;
    gap: 30px;
  }
  &__cards{
    &__item{
      display: flex;
      align-items: center;
      margin-bottom: 50px;
    }
    &__text{
      max-width:400px ;
      font-weight: 700;
      font-size: 18px;
    }
  }
  &__main-img{
    width: 605px;
  }
  &__img{
    width: 120px;
    height: 120px;
    scale: 102%;
    &__wrapper{
      width: 120px;
      height: 120px;
      border-radius: 100%;
      overflow: hidden;
      margin-right: 30px;
    }
  }
  &__tomato{
    position: absolute;
    bottom: 32px;
    left: -69px;
  }
  &__basil-left{
    position: absolute;
    top: -49px;
    left: -245px;
    scale: 71%;
  }
  &__basil-right{
    position: absolute;
    right: -380px;
    bottom: -224px;
  }
  &__container{
    position: relative;
    padding-top: 160px;
  }
}