.footer{
  &__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__item{

  }
  &__text{

  }
  &__footer{
    display: flex;
    flex-direction: row;
    color: #E0E0E0;
    &__item{
      position: relative;
      margin-right: 30px;
      font-size: 12px;
      &:last-child{
        position: absolute;
        right: 122px;
        margin: 0;
      }
    }

  }
}