.footer{
  &__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 37px 0px;
    align-items: center;
    @include mobile{
      flex-direction: column;
    }
  }
  &__item{
    position: relative;
    &:not(:last-child){
      &:after{
        content: "";
        position: absolute;
        right: calc(-50% - 1px);
        top: 0;
        bottom: 0;
        height: 70px;
        width: 1px;
        background-color: #393939;
        @include mobile{
          display: none;
        }
      }
    }
  }
  &__text{

  }
  &__left{
    display: flex;
    flex-direction: row;
    gap: 0px 30px;
  }
  &__footer{
    display: flex;
    flex-direction: row;
    color: #E0E0E0;
    justify-content: space-between;
    &__item{
      position: relative;
      font-size: 12px;

      @include mobile{
        margin-right: 0;
      }
    }
    @include mobile{
      flex-direction: column;
      align-items: center;
    }
  }
}