.header{

}
.navbar-mobile{
  display: none;
  @media screen and (max-width: 768px) {
    display: block;
  }
}
.navbar-web{
  @media screen and (max-width: 768px) {
    display: none;
  }
  &__row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 34px;
  }
  &__item{

  }
  &__phone{
    position: relative;
    &::before{
      position: absolute;
      content: '';
      background-image: url("/public/img/header/phone.svg");
    }
  }
  &__social{
    display: flex;
    flex-direction: row;
    &_img{
      padding: 5px;
    }
  }
}
.navbar-burger{
  display: none;
  flex-direction: column;
  cursor: pointer;
  @media only screen and (max-width: 768px) {
    display: flex;
  }
  &__bar{
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    border: 0.5px solid red;
  }
}