.main{
  &__content{
    padding: 130px 50px 176px 0px;
    width: 607px;
    @include mobile{
      padding: 0px;
      width: 100%;
      text-align: center;
      z-index: 1;
      position: relative;
      padding: 134px 0px 150px 0px;
    }
  }
  &__text{
    font-size: 16px;
    padding: 95px 0px 35px 0px;
  }
  &__article{
    font-size: 55px;
    font-weight: bold;
    @include mobile{
      font-size: 28px;
    }
  }
  &__text{
    font-size: 16px;
  }

}