.menu-page{
  background-color: #FFFFFF;
  color: #000000;
  &__title{
    font-size: 28px;
    font-weight: 900;
  }
  &__blocks{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
  }
  &__block{
    width: calc(50% - 15px);
    box-sizing: border-box;
    padding: 15px;
    border: 1px solid #FFFFFF;
  }
}