.menu-page{
  background-color: #FFFFFF;
  color: #000000;

  &__article{
    font-weight: 900;
    font-size: 28px;
  }
  &__blocks{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  &__block{
    width: 50%;
  }
  &__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__info{

  }
  &__composition{

  }
}